* {
    padding: 0;
    margin: 0;
}
body, html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}
header {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.head-container {
    background-image: linear-gradient(rgba(49, 49, 49, 1), 70%, rgba(49,49,49,0));
    display: flex;
}
.image-container {
    width: 50%;
}
.logo {
    height: 32px;
    width: auto;
    margin-left: 30%;
    margin-top: 15px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
.nav p{
    color: rgb(248, 234, 234);
    border: 2px solid rgb(248, 234, 234);
    border-radius: 10px;
    margin: 24px;
    padding: 0px 10px;
    text-align: center;
}
.nav-buttons {
    transition: 0.5s;
}
.nav-buttons:hover {
    background-color: rgb(248, 234, 234);
    color: rgb(44, 44, 44);
}
a {
    text-decoration: none;
}
.menuWrapper {
    display: none;
}
.menuBar {
    width: 100%;
    height: 4px;
    margin: 3px 0px;
    background-color: rgb(248, 234, 234);
}
#mobile-nav {
    display: none;
}
#megatron {
    background-image: url(./images/maxresdefault.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}
#banner {
    position: relative;
    top: 40%;
    left: 10%;
    color:rgb(248, 234, 234);
    border-radius: 5px;
    width: fit-content;
    font-size: 1.5em;
    line-height: 2em;
    text-align: left;
}
#banH1 {
    background-image: linear-gradient(to right, rgba(49,49,49,0), 5%, rgba(49,49,49,0.8), 95%, rgba(49,49,49,0));
    margin: 0;
    padding-bottom: 5px;
    width: fit-content;
}
#banP {
    background-image: linear-gradient(to right, rgba(49,49,49,0), 5%, rgba(49,49,49,0.8), 95%, rgba(49,49,49,0));
    margin: 0;
    padding: 0;
    width: fit-content;
}
.s1-container{
    display: flex;
}
.s1-left {
    width: 50%;
    padding: 100px 0px;
}
.s1-viewport {
    width: 400px;
    height: 266px;
    margin: auto;
    overflow: hidden;
}
#s1-images {
    display: flex;
    flex-direction: row;
    transition: ease-in-out 1s;
}
.s1-right {
    width: 50%;
    padding: 100px 0px;
}
.scroll-buttons {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
    padding: 30px 0px;
}
.slider-button {
    width: 8px;
    height: 8px; 
    margin: 15px;
    border: 1px solid darkblue;
    border-radius: 100%;
    transition: 0.5s;
}
.slider-button:hover {
    background-color: darkblue;
    cursor: pointer;
}
.s1-r-container {
    width: 90%;
    font-size: 1.25em;
    line-height: 1.5em;
}
.s1-r-container h1 {
    margin-bottom: 25px;
}
#section2 {
    background-image: url('./images/dark_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0px;
    color: whitesmoke;
}
#section2 h1 {
    text-align: center;
    padding: 48px 0px;
    font-size: 48px;
    text-shadow: 15px 15px 20px rgb(44, 44, 44);
}
.s2-container {
    display: flex;
    padding-bottom: 50px;
}
.s2-left {
    width: 50%;
}
.s2-left p {
    width: 70%;
    margin: auto;
    font-size: 1.25em;
    line-height: 1.5em;
    color: whitesmoke;
    text-align: right;
    text-shadow: 15px 15px 20px rgb(44, 44, 44);
}
.s2-right {
    width: 50%;
}
.inner-image {
    width: 400px;
    margin: auto;
}
.s2-anchor {
    color: whitesmoke;
    width: fit-content;
    padding: 10px 20px;
    margin: auto;
    background-color: rgb(14, 63, 107);
    border-radius: 10px;
    border: 1px solid whitesmoke;
    transition: 0.5s;
}
.s2-anchor:hover {
    color: rgb(14, 63, 107);
    background-color: whitesmoke;
}
.s3-container {
    display: flex;
    background-color: whitesmoke;
    padding: 15px 0px;
}
.s3-left {
    background-color: rgb(70, 116, 156);
    width: 29%;
    margin-left: 1%;
    padding: 30px 0px;
}
.s3-left h1 {
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px 0px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    background-image: url('./images/web-image\ copy.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.25s;
}
.s3-left h1:hover {
    text-shadow: 15px 15px 20px rgb(0, 0, 0);
    cursor: pointer;
}
#hidden {
    transform: translateX(-400px);
    text-align: center;
    width: 75%;
    color: rgb(70, 116, 156);
    font-weight: bold;
    font-size: 1.5em;
    transition: 1s;
}
#s3leftshift {
    transform: translateY(80px);
    transition: 1s;
    overflow: hidden;
    width: 95%;
    margin: auto;
}
.s3-right {
    background-color: rgb(70, 116, 156);
    width: 68%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 30px 0px;
    color: whitesmoke;
}
.s3-right h1,p{
    width: 80%;
    margin: auto;
    line-height: 1.5em;
    padding-bottom: 25px;
}
.s3-right h1 {
    font-size: 48px;
}
.s3-right p {
    font-size: 1.25em;
}
.mobile-button {
    display: none;
}
#footer {
    background-color: rgb(89, 92, 92);
    color: whitesmoke;
    padding-top: 30px;
}
.foot-container {
    display: flex;
}
.foot-left {
    width: 50%;
}
.foot-left img {
    width: 150px;
    height: auto;
    margin-left: 20%;
}
.foot-right {
    width: 50%;
}
.foot-right a {
    color: whitesmoke;
}
.copyright {
    text-align: center;
    color: whitesmoke;
    border-top: 2px solid whitesmoke;
    margin-top: 50px;
}


@media only screen and (max-width: 480px){
    /*header {
        max-width: 320px;
    }
    body, html {
        max-width: 320px;
    }*/
    header {
        position: static;
        background-color:rgb(89, 92, 92);
        z-index: 10;
    }
    .head-container {
        background-image: none;
    }
    .logo {
        margin-bottom: 5px;
        background: url('./images/Copy\ of\ KIT\ logo\ new.png');
    }
    .nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(70, 116, 156);
        position: absolute;
        width: 100%;
        padding: 5px 0px;
        transition: 1s;
        transform: translateX(-100%);
    }
    #mobile-nav a {
        text-decoration: none;
        color: whitesmoke;
    }
    #mobile-nav p {
        padding: 3px;
        border: 2px solid whitesmoke;
        border-radius: 5px;
        color: whitesmoke;
        width: fit-content;
    }
    .menuWrapper {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    .menuIcon {
        width: 32px;
        height: 100%;
        margin-right: 48px;
        margin-top: 20px;
    }
    .menuIcon:hover {
        cursor: pointer;
    }
    #megatron {
        height: 500px;
    }
    #banner {
        width: 90%;
        margin: auto;
        position: relative;
        top: 30%;
        left: 0;
        text-align: center;
    }
    .s1-right {
        width: 100%;
        font-size: 1em;
    }
    .s1-r-container {
        margin: auto;
        text-align: center;
    }
    .s1-left {
        display: none;
    }
    .s2-left {
        width: 100%;
        font-size: 1em;
    }
    .s2-left p {
        text-align: center;
    }
    .s2-right {
        display: none;
    }
    .s3-left {
        display: none;
    }
    .s3-right {
        width: 100%;
        font-size: 1em;
    }
    .s3-right h1,p {
        text-align: center;
    }
    .mobile-button {
        display: inherit;
        font-size: 24px;
        padding: 5px 5px 10px 5px;
        border-radius: 5px;
        text-align: center;
        width: 50%;
        margin: auto;
        height: 24px;
        background-image: url('./images/web-image\ copy.png');
        border: 2px solid whitesmoke;
    }
    .mobile-button a {
        text-decoration: none;
        color: whitesmoke;
    }
}
